class Counter extends React.Component {

	constructor(props) {
		super(props);

		this.state = {
			count: 0
		};

		this.countClicks = this.countClicks.bind(this)
	}

	countClicks() {
		this.setState({
			count: ++this.state.count
		});
	}

	render() {
		return (
			<div>
				<span>Clicked {this.state.count}</span>&nbsp;<button onClick={this.countClicks}>Click me!</button>
			</div>
		);
	}
}